#study-list {
  display:flex;
  list-style-type: none;
  flex-direction: column;
}

#study-list .input-move {
  display: none; 
  margin-right: 10px;
}

.move-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

#check-button{
  display: none;
  margin-right: 1em;
} 

#clear-study-button{
  display: none;
} 

.study-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* add a space in between and make the space small*/
  
  /* width: 200px; */
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 500px;
    height: 500px;
    margin-top: 50px;
  }

.chessboard .row {
    display: flex;
    height: 100%;
    width: 100%;
}

.chessboard .row .square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 12.5%; /* 100% / 8 */
  height: 100%;
}
  
.chessboard .row .square:nth-of-type(even) {
background-color: #f0d9b5;
}

.chessboard .row .square:nth-of-type(odd) {
background-color: #b58863;
}

.chessboard .row:nth-of-type(even)
.square:nth-of-type(even) {
    background-color: #b58863;
}
 
.chessboard .row:nth-of-type(even)
   .square:nth-of-type(odd) {
     background-color: #f0d9b5;
   }